{% extends 'layout.njk' %}

{% block head %}
  <title>recipes</title>
  <link rel="stylesheet" href="/styles/edit.css">
{% endblock %}

{% block header %}
  <img src="/assets/logo2.png" onclick="location.href = '/';" id="logo" alt="">
{% endblock %}

{% block content %}

  <form class="card" method="POST" action="/admin/recipes">

    <div class="title" >
      <p>Editando receitas</p>
      <button id="save-button" class="edit" type="submit">Salvar receita</button>
    </div>

    {% include "admin/fields.njk" %}
  </form>

  <script src="/scripts/ingredients.js"></script>

  {% block footer %}
  {% endblock %}

{% endblock %}