{% extends 'layout.njk' %}

{% block head %}
  <title>recipes</title>
  <link rel="stylesheet" href="/styles/edit.css">
{% endblock %}

{% block header %}
  <img src="/assets/logo2.png" onclick="location.href = '/';" id="logo" alt="">
{% endblock %}

{% block content %}

  <form action="/admin/recipes?_method=DELETE" method="POST" id="form-delete">
    <input type="hidden" name="id" value="{{ recipes.id }}">
  </form>

  <form method="POST" class="card" action="/admin/recipes?_method=PUT">

    <div class="title" >
      <p>Editando receitas</p>
      <button id="delete-button" form="form-delete" type="submit">Deletar</button>
      <button type="submit" id="save-button">Salvar receita</button>
    </div>

    {% include "admin/fields.njk" %}

    <input type="hidden" name="id" value="{{ recipes.id }}">
  </form>

  <script src="/scripts/ingredients.js"></script>
  <script src="/scripts/confirmDelete.js"></script>

  {% block footer %}
  {% endblock %}

{% endblock %}
