{% extends 'layout.njk' %}

{% block head %}
  <title>recipes</title>
  <link rel="stylesheet" href="/styles/show.css">
{% endblock %}


{% block header %}
  <img src="/assets/logo2.png" onclick="location.href = '/';" id="logo" alt="">
{% endblock %}

{% block content %}

<div class="title">
  <p>Receita: {{recipes.title}}</p>
  <a href="/admin/recipes/{{recipes.id}}/edit" class="edit">Editar receita</a>
</div>

  <div class="card">
    <div class="card-image">
      <img src="{{recipes.image}}" alt="">
    </div>
    <h1 class="food-name">{{recipes.title}}</h1>
    <p class="chef-name">{{recipes.author}}</p>
  </div>

  <section class="recipes-info">

    <div class="title-text">
      <h1>ingredientes</h1>
      <p class="hidden-button">Esconder</p>
    </div>

    <div class="text" id="1">
      {% for recipe in recipes.ingredients %}
        <li>{{recipe}}</li>
      {% endfor %}
    </div>

    <div class="title-text">
      <h1>Modo de preparo</h1>
      <p class="hidden-button">Esconder</p>
    </div>

    <div class="text" id="2">
      {% for recipe in recipes.preparation %}
        <li>{{recipe}}</li>
      {% endfor %}
    </div>

    <div class="title-text">
      <h1>Informações adicionais</h1>
      <p class="hidden-button">Esconder</p>
    </div>

    <div class="text" id="3">
      <p>{{recipes.information}}</p>
    </div>

  </section>

  <script src="/scripts/hide.js"></script>
  {% block footer %}
  {% endblock %}

{% endblock %}