<!DOCTYPE html>
<html lang="en">

  <head>
    {% block head %}
      <title>Foodfy</title>
      <link rel="stylesheet" href="/styles.css">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <div class="links-header">
        {% block header %}
        <img src="/assets/logo.png" onclick="location.href = '/';" id="logo" alt="">
          <a href="/sobre" id="sobre">Sobre</a>
          <a href="/receitas" id="Receitas">Receitas</a>
        {% endblock %}
      </div>
    </header>

    {% block content %}{% endblock %}

    {% block footer %}
      <footer>
        <div class="footer-text">
          <p>Todos direitos reservados, receitas Foodfy</p>
        </div>
      </footer>
    {% endblock %}

  </body>
</html>