{% extends 'layout.njk' %}

{% block header %}
<img src="/assets/logo.png" onclick="location.href = '/';" id="logo" alt="">
  <a href="/sobre" id="sobre">Sobre</a>
  <a style="font-weight: bold;" href="/receitas" id="Receitas">Receitas</a>
{% endblock %}

{% block content %}
  <main>
    <section class="cards">
      {% for recipe in recipes %}
        <div class="card">
          <div class="card-image">
            <img src="{{recipe.image}}" alt="">
          </div>
          <h1 class="food-name">{{recipe.title}}</h1>
          <p class="chef-name">{{recipe.author}}</p>
        </div>
      {% endfor %}
    </section>
  </main>
  <script src="scripts.js"></script>

{% endblock %}