{% extends 'layout.njk' %}


{% block content %}
  <main>
    <section class="cards">
      {% for recipe in recipes %}
        <div class="card">
          <div class="card-image">
            <a href="recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt=""></a>
          </div>
          <h1 class="food-name">{{recipe.title}}</h1>
          <p class="chef-name">{{recipe.author}}</p>
        </div>
      {% endfor %}
    </section>
  </main>

{% endblock %}