@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  border: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-y: overlay;
}
/* Estilização header */

header {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 32px;
}

.links-header a {
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.links-header .active {
  font-weight: bold;
}

#sobre {
  margin-right: 26px;
}

#logo a {
  background-color: red;
}

#logo {
  max-width: 95px;
  margin-right: 112px;
  cursor: pointer;
  margin-bottom: -6px;
}

/* Estilização card do chef */

.card-chef {
  border-radius: 30px;
  margin: 0 auto;
  background-color: #fbdfdb;
  width: 940px;
  height: 366px;
  position: relative;
}

.card-chef h1 {
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  left: 60px;
  top: 117px;
}

.card-chef p {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  position: absolute;
  left: 60px;
  top: 165px;
  max-width: 316px;
}

.image-chef {
  position: absolute;
  right: 100px;
  bottom: 0px;
}

/* Estilização cards de comida */

.cards {
  margin: 0 auto;
  width: 940px;
  max-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card-image img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  cursor: pointer;
}

#text-food {
  width: 940px;
  margin: 50px auto 20px auto;
}

#text-food p {
  font-size: 24px;
  font-weight: bold;
}

.food-name {
  margin-top: 15px;
}

.food-name {
  font-weight: 400;
  font-size: 18px;
}

.chef-name {
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.7;
}

/* Estilização footer */

.footer-text {
  padding: 17px;
  background-color: #eeeeee;
  margin: 0 auto;
  text-align: center;
  margin-top: 44px;
}

footer p {
  font-size: 14px;
  color: #999999;
}

/* Estilização texto pagina sobre */

.text {
  margin: 0 auto;
  width: 940px;
  font-family: 'Roboto';
}

.tittle-text h1 {
  font-weight: bold;
}

.text p {
  font-weight: 400;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-top: 10px;
}

#tittle-1 {
  font-size: 24px;
  margin-top: 10px;
}

#tittle-2,
#tittle-3 {
  font-size: 20px;
  margin-top: 20px;
}

main {
  min-height: 747px;
}
